<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!-- LOGO -->
        <a href="{{ path('back_homepage') }}" class="logo text-center mb-4">
                        <span class="logo-lg">
                <img src="{{ asset('global_assets/images/logo.png') }}">
                        </span>
                        {#<span class="logo-sm">#}
                {#<img src="{{ asset('global_assets/images/logo.png') }}">#}
                        {#</span>#}
        </a>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Navigation</li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-contacts"></i>
                        <span> Users  </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{{ url('users_show') }}">Afficher</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="{{ path('about') }}">
                        <i class="fe-grid"></i>
                        <span> About </span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('publicity') }}">
                        <i class="fe-grid"></i>
                        <span> Publicity </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-contacts"></i>
                        <span> Contact </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{{ url('contact_show') }}">Afficher</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-image-multiple"></i>
                        <span> Slider </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{{ path('slider_add') }}">Ajouter</a>
                        </li>
                        <li>
                            <a href="{{ path('slider_show') }}">Afficher</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-format-list-bulleted"></i>
                        <span> Categories </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{{ url('categories_add') }}">Add</a>
                        </li>
                        <li>
                            <a href="{{ url('categories_show') }}">Show</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="dripicons-photo-group"></i>
                        <span> Gallery </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{{ url('gallery_add') }}">Ajouter</a>
                        </li>
                        <li>
                            <a href="{{ url('gallery_show') }}">Afficher</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="dripicons-photo-group"></i>
                        <span> Gallery Acceuil</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{{ url('gallery_front_add') }}">Ajouter</a>
                        </li>
                        <li>
                            <a href="{{ url('gallery_front_show') }}">Afficher</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-human-handsup"></i>
                        <span> Partenaire </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{{ url('partenaire_add') }}">Ajouter</a>
                        </li>
                        <li>
                            <a href="{{ url('partenaire_show') }}">Afficher</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-format-quote-close"></i>
                        <span> Testimony </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{{ url('testimony_add') }}">Ajouter</a>
                        </li>
                        <li>
                            <a href="{{ url('testimony_show') }}">Afficher</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-teach"></i>
                        <span> Social Media </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{{ url('SocialMedia_show') }}">Afficher</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-video"></i>
                        <span> Videos </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{{ url('video_add') }}">Ajouter</a>
                        </li>
                        <li>
                            <a href="{{ url('video_show') }}">Afficher</a>
                        </li>
                    </ul>
                </li>

            </ul>


        </div>
        <!-- End Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->