<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{asset('assets/css/cssb83a.css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic|Montserrat:400,700')}}" rel='stylesheet'>
            <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
            <link href="{{asset('assets/css/font-awesome.min.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('assets/css/void.css')}}" id="_include_elegant_font">
            <link rel="stylesheet" href="{{asset('assets/css/settings.css')}}" media="screen">
            <link rel="stylesheet" href="{{asset('assets/css/void.css')}}" id="_include_owl_carousel">

            <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        {% endblock %}
        <script src="{{asset('assets/js/head.js')}}"></script>


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{asset('assets/jquery/2.1.1/jquery.min.js')}}"></script>
            <script src="{{asset('assets/bootstrap/3.3.1/js/bootstrap.min.js')}}"></script>
            <script src="{{asset('assets/js/rs-slider.js')}}"></script>
            <div id="_include_main_plugins"></div>
            <div id="_include_owl_carousel"></div>

            <script src="{{asset('assets/js/script.js')}}"></script>{% endblock %}
    </body>
</html>
