{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/confirmation.css') }}" rel="stylesheet">

{% endblock %}
{% block body %}
    <section id="form"><!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="login-form"><!--login form-->
                        <h2>Make a post</h2>
                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        {# The Folder.name field #}
                        <div class="row form-group">
                            {{ form_label(form.name, null, {'label_attr': {'class': 'col-md-2'}}) }}
                            <div class="col col-md-10">{{ form_widget(form.name) }}</div>
                            <div class="form_errors col-md-12">
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            {{ form_label(form.description, null, {'label_attr': {'class': 'col-md-2'}}) }}
                            <div class="col col-md-10">
                                {{ form_widget(form.description) }}
                            </div>
                            <div class="form_errors col-md-12">
                                {{ form_errors(form.description) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            {{ form_label(form.price, null, {'label_attr': {'class': 'col-md-2'}}) }}
                            <div class="col col-md-10">{{ form_widget(form.price) }}</div>
                            <div class="form_errors col-md-12">
                                {{ form_errors(form.price) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            {{ form_label(form.categorie, null, {'label_attr': {'class': 'col-md-2'}}) }}
                            <div class="col col-md-10">{{ form_widget(form.categorie) }}</div>
                            <div class="form_errors col-md-12">
                                {{ form_errors(form.categorie) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            {{ form_label(form.subCategory, null, {'label_attr': {'class': 'col-md-2'}}) }}
                            <div class="col col-md-10">{{ form_widget(form.subCategory) }}</div>
                            <div class="form_errors col-md-12">
                                {{ form_errors(form.subCategory) }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-md-2"> add image </label>
                            <div class="col col-md-10">{{ form_widget(form.images.vars.prototype) }}</div>
                            <div class="form_errors col-md-12">
                                {{ form_errors(form.images.vars.prototype) }}
                            </div>
                        </div>


                        <div id="image-fields-list"
                             class="row form-group"
                            data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li></li>'|e }}">
                            {% for image in form.images %}
                                <div class="col col-xs-3">
                                    {{ form_errors(image) }}
                                    <div class="profile-pic">
                                    <img height="100" width="100" src="{{ asset('uploads/'~ image.vars.data.url) }}" alt="">
                                    <div class="delete">
                                    <a onclick="Confirm('Delete Photo', 'Are you sure you want to delete this photo ?', 'Yes', 'Cancel', '{{ path('delete_image',{ 'id': image.vars.data.id }) }}') ;return false;" ><i class="fa fa-times fa-2x"></i></a>
                                    </div>
                                        <div class="edit">
                                               <a> <i class="fa fa-edit fa-2x"></i>
                                                {{ form_widget(image,{ 'attr': {'name' : 'myFile'}}) }}
                                               </a>
                                        </div>
                                    </div>
                                    </div>
                            {% endfor %}
                        </div>


                        </div>

                        {# Submit part #}
                        <div class="row form-group">
                            <div class="form_cancel col-md-offset-8 col-md-2 col-xs-4">
                                <a href="{{ path('homepage') }}" class="btn btn-default btn-block">Cancel</a>
                            </div>
                            <div class="form_submit col-md-2 col-xs-8">
                                <input type="submit" value="Validate" class="btn btn-warning btn-block" />
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div><!--/login form-->
                </div>
            </div>
    </section><!--/form-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/confirmation.js') }}"></script>
{% endblock %}
