{% extends "base.html.twig" %}
{% block body %}

    <section id="cart_items">
        <div class="container">



            <div class="review-payment">
                <h2>My products</h2>
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Image</td>
                        <td class="description">description</td>
                        <td class="price">Price</td>
                        <td class="quantity">Item</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in products %}
                    <tr>
                        <td class="cart_product">
                            <a href="{{ path('front_edit_product',{ 'id': item.id }) }}">
                                <img height="100" width="100" src="{{ asset('uploads/'~item.images[0].url)}}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="{{ path('front_edit_product',{ 'id': item.id }) }}">{{ item.description }}</a></h4>
                            <p>Web ID: {{ item.id }}</p>
                        </td>
                        <td class="cart_price">
                            <p>{{ item.price }}</p>
                        </td>
                        <td class="cart_quantity">
                            <h4><a href="{{ path('front_edit_product',{ 'id': item.id }) }}">{{ item.name }}</a></h4>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="{{ path('front_delete_product',{ 'id': item.id }) }}"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </section> <!--/#cart_items-->


{% endblock %}