{% extends "base.html.twig" %}
{% block body %}

    <section id="advertisement">
        <div class="container">
            <img src="{{ asset('assets/images/shop/advertisement.jpg') }}" alt=""/>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                {% include('@Frontend/Default/sidebar.html.twig') %}

                <div class="col-sm-8 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">السلع المعروضة</h2>
                            {% for company in companies %}
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="{{ asset('uploads/'~company.image.url)}}" alt="">
                                        <h2>{{  company.companyName}}</h2>
                                        <p>{{ company.about}}</p>
                                        <a href="{{ path('front_products_by_shop',{'id':company.id}) }}" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>عرض المنتجات</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div><!--features_items-->

                </div>
            </div>
        </div>
    </section>


{% endblock %}