{% extends "base.html.twig" %}

{% block body %}

    <section id="cart_items">
        <div class="container">

            <div class="step-one">
                <h2 class="heading">UPGRADE</h2>
            </div>
            <div class="checkout-options">
                <h3>Choose your Package</h3>
                <p>or contact us directly <a href="{{ path('front_contact') }}">here</a></p>
            </div><!--/checkout-options-->

            <div class="review-payment">
                <h2>Packages</h2>
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td>name</td>
                        <td>price</td>
                        <td>number</td>
                        <td>advantages</td>
                        <td>action</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in pricings %}
                    <tr>
                        <td>
                            {{ item.name }}
                        </td>

                        <td>
                            {{ item.price }}
                        </td>
                        <td>
                            {{ item.numberOfPosts }}
                        </td>

                        <td>
                            {{ item.advantages }}
                        </td>



                        <td>
                                <a class="dropdown-item" href="{{ path('front_contact') }}">Choose</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </section> <!--/#cart_items-->


{% endblock %}