<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="{{ path('homepage') }}"><img src="{{ asset('global_assets/images/logo.png') }}"
                                                              alt=""/></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path('front_account') }}"><i class="fa fa-user"></i> الحساب </a></li>
                                <li><a href="{{ path('front_wishlist') }}"><i class="fa fa-star"></i> قائمتي المفضلة</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i>الخروج</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i> تسجيل الدخول</a></li>
                                <li><a href="{{ path('fos_user_registration_override') }}"><i class="fa fa-lock"></i>  إنشاء حساب جديد </a></li>

                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">تبديل الملاحة</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="{{ path('homepage') }}">الصفحة الرئيسية</a></li>
                            <li><a href="{{ path('font_shop') }}">محلات</a></li>
                            <li><a href="{{ path('upgrade') }}">التسعير</a></li>
                            <li><a href="{{ path('front_contact') }}">اتصل بنا</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->