<header class="header-wrapper header-dark">
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <a href="{{ path('index') }}" class="logo"></a>
                </div>
                <div class="col-sm-12 col-md-10">
                    <nav class="navbar-right">
                        <ul class="menu">

                            <li class="toggle-menu"> <i class="fa icon_menu"></i></li>

                            <li class="first">
                                <a href="{{ path('index') }}">Home</a>

                            </li>
                            <li>
                                <a href="#">Shop</a>
                                <ul class="submenu">

                                    <li><a href="{{ path('shop_product') }}">Product </a></li>
                                    <li><a href="{{ path('shop_account') }}">Account</a></li>
                                    <li><a href="{{ path('shop_cart') }}">Cart</a></li>
                                    <li><a href="{{ path('pricing') }}">Pricing</a></li>

                                    <li><a href="shop_checkout.html">Checkout</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>