{% extends 'back_base.html.twig' %}

{% block body %}
    <div class="card-body">
        <h4 class="header-title">Members List</h4>

        <div class="table-responsive mt-3">
            <table class="table table-hover table-centered mb-0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>profile picture</th>
                    <th>Package</th>
                    <th>action</th>
                </tr>
                </thead>


                <tbody>
                {% for item in users %}
                    <tr>
                        <td>
                            {{ item.id }}
                        </td>

                        <td>
                            {{ item.username }}
                        </td>

                        <td>
                            {{ item.email }}
                        </td>

                        <td>
                            <img src="{{ asset('/uploads/'~ item.image.url)  }}" alt="contact-img" height="40" width="40" title="contact-img" class="rounded-circle float-left mr-2">
                        </td>

                        <td>
                            {{ item.package }}
                        </td>

                        <td>
                            <div class="btn-group dropdown">
                                <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm"
                                   data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{{ path('enable_user',{ 'id': item.id}) }}"><i
                                                class="mdi mdi-pencil mr-1 text-muted"></i>
                                        {% if item.enabled == true %}
                                            Disable
                                        {% else %}
                                            Enable
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

